.homepage {
  .titleHomepage {
    animation: move 2s;
  }

  .imgHomepage {
    animation: imgMove 2s;
  }

  @keyframes move {
    0% {
      left: -1000px;
    }
    100% {
      left: 0px;
    }
  }

  @keyframes imgMove {
    0% {
      right: -1000px;
    }
    100% {
      right: 0px;
    }
  }
}

.img2 {
  width: 95%;
}
